$widthLimitUpper: 800px;
$hightLimitLower: 100vh;

body{
	display: flex;
    flex-direction: column;
    min-height: $hightLimitLower;

    main{
    	flex: 2;
    }

    section{
    	max-width: $widthLimitUpper;
  		margin: 50px auto;
    }
}


