@import "_form.scss";
@import "_footer.scss";
@import "_header.scss";

body {
  	padding-top: 100px;

  	.page__section{

  		.section__heading {
  			padding: 5px;
  		}

  		.article {

	  		.article__heading{
	  			padding: 5px;
	  		}
	  		

	  		.article__descriptive{

	  			.article__descriptive__item{
	  				padding: 5px;
	  			}
	  		}
	  	}

  	}
	  	
}

